<?xml version="1.0" encoding="UTF-8"?>
<launch>  
  <arg name="robot_name"/>
  <arg name="init_pose"/>
  
  <!-- Spawn the robot after we built the urdf files -->
  <node name="diff_drive_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="$(arg init_pose) -urdf -param /diff_drive_description -model $(arg robot_name)" />
   
  <!-- Publish the TFs -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    <remap from="robot_description" to="diff_drive_description" />
  </node>
  
</launch>
